@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

/* horizontally/vertically centers body */
body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outlet', sans-serif;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex; 
  align-self: center; 
  justify-content: center; 
  flex-direction: column;
  width: 20%; 
  height: 55%; 
  border-radius: 5%;
  padding: 0 5%;    
}

.content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 img {
  width: 270px;
  border-radius: 5%;
  margin-top: 5%;
}

p:first-child {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  width: 150%;
  padding: 0;
}

.content p + p {
 color: hsl(212, 45%, 89%);
 font-weight: 400; 
 font-size: 15px; 
 width: 155%;
 margin-top: 0;
}