@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-weight: 400;
    font-family: "Outfit";
}